<html>
  <head>
    <title><%= title || "Hello world" %></title>
  </head>
  <body>
    <h1>Demo page</h1>
    <div class="container">
      <%- contents %>
    </div>
    <%- block('js') %>
  </body>
</html>